body {
    background-image: url("https://www.pastepic.xyz/images/2018/07/10/organic-tilesc4af602b48b7317a.png");
    margin: 0;
}
a {
    color: #777;
    font-size: 15px;
}
h1 {
    color: #4aaaa5;
    font-size: 25px;
    padding-left: 25px;
    padding-top: 40px;
}


.container {
 background-color: white;
 margin: 36px 450px 45px 216px;
 width: 1000px;
border-style: solid;
border-width: 1px;
border-color: #dddddd;

}
p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 25px;
       
}
img {
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    border-style: solid;   
    border-width: 1px;
    border-color:  #dddddd;
    margin-right: 15px;
}
footer {
position: fixed;
left: 0;
height: 54px;
bottom: 0;
width: 100%;
background-color: #777777;
color: white;
border-top: solid;
border-width: 10px;
border-color: #4aaaa5;
}
h5 {
    text-align: center;
}
hr {
    width: 94%;
    height: 2px;
    background-color:  #cccccc;
}

.contact-form {
    background-color: white;
    margin-left: 450px;
    width: 581px;
    margin: 30px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 10px 10px 20px 10px;

}
.form-control {
    width: 800px;
    font-size: 20px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
textarea {
    width: 97%;
    height: 218px;
    margin-left: 5px;
    
}

.column {
    
    width: 30px;
    padding: 10px;
}
.row::after {
    display: table;
    clear: both;
}

header {
   background-color: white;
   width: 100%;
   height: 80px; 
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 25px;
   color: white;
   border-bottom: #cccccc;
   border-style: solid;
   border-width: 1px;
   text-align: center;

}



.nav {
text-align: right;
margin-right: 250px;
margin-top: -57px;
font-size: 20px;
}
.logo {
    margin-left: 122px;
    border-style: solid;
    width: 211px;
    height: 58px;
    background-color: #4aaaa5;
    padding-top: 17px;
    margin-top: 5;
    
}
.nav2 {
    text-align: right;
    margin-right: 415px;
    margin-top:-57px;
}
.logo2 {
    margin-left: 411px;
    border-style: none;
    width: 211px;
    height: 61px;
    background-color: #4aaaa5;
    padding-top: 20px;
    margin-top: -1px;

}
input {
    width: 97%;
    line-height: 1.6;
}
