body {
    background-image: url("https://www.pastepic.xyz/images/2018/07/10/organic-tilesc4af602b48b7317a.png");
}
header {
    color: #4aaaa5;
    font-size: 25px;
}
#nav {
height: 90px; 

/* background-color: white;    */

}
#box {
    position: relative;
    height: 60px;
    width: 150px;
    background-color:#4aaaa5;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    right: -114px;
    bottom: -55px;
    
}
ul {
    width: 976px;
    list-style: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
    padding-left: 20px;
    padding-right: 149px;
    
}
li {
    display: inline;
    float: right;
}
li a {
    display: block;
    padding: 8px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    overflow: hidden;
    background: white; 
    color: #777777;
    
}
    
.container {
 background-color: white;
 margin: 0 auto;
 width: 870px;
margin-top: 80px; 
padding-bottom: 10px;
border-style: solid;
border-width: 1px;
border-color: #dddddd;
}
p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
       
}
img {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
footer {

}
h5 {
    text-align: center;
}