body {
    background-image: url("https://www.pastepic.xyz/images/2018/07/10/organic-tilesc4af602b48b7317a.png");
}
header {
    color: #4aaaa5;
    font-size: 25px;
}
#nav {
    border-style: solid;
    

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}


/* ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    overflow: hidden;
    background: white; 
    color: #777777;
    
}

    


}
    

.container {
 background-color: white;
 margin: 0 auto;
 width: 500px;
 padding left: 50px;
 
}
p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
       
}
img {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
footer {

}
h5 {
    text-align: center;
} */